.button {
  box-shadow: 0 5px 3px rgb(0 0 0 / 30%);
  padding: 1em 2em;
  margin-top: 3rem;
  appearance: none;
  background-color: #df1165;
  color: #fff;
  border-radius: 5rem;
  text-decoration: none;
}
