html {
  font-size: 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16rem;
  text-align: center;
  background-color: #202020;
  color: #fff;
}
